:root {
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-m:16px;
	--size-l:20px;

	--color-border: #dee2e6;
	--color-white: #FFFFFF;
	--color-primary: rgba(28, 79, 249, 0.855);
	--color-title: #212529;
	--color-text: #5a5a5a;

	--border-radius: 12px;

	--weight-title: 500;
	--weight-text: 400;
}

.page {
	background: var(--color-white);
	padding: 0 15px;
	
	display: flex;
	justify-content: center;
}

.page_content{
	max-width: 960px;
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;
}

/* ================== */

.header {
	padding: var(--space-l) 0;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.logo{
	font-size: 17px;
	color: var(--color-white);
	background: var(--color-primary);
	
	width: 24px;
	height: 24px;
	border-radius: calc(var(--border-radius)/2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.navis {
	display: flex;
}

.nav_inline {
	gap: var(--space-l);
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}
.nav_link {
	color: var(--color-text);
	font-size: var(--size-m);
	text-decoration: none;
	line-height: 100%;
}
.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;

}
.footer_copyright {
	font-size: var(--size-s);
	color: #6C757D;
	display: block;
	margin-top: var(--space-l);
}
.footer_title {
	font-size: var(--size-l);
	font-weight: var(--weight-title);
	color: var(--color-title);
	display: block;
	margin-bottom: var(--space-l);
}
.button {
	display: inline-block;
	padding: var(--space-m) var(--space-xm);
	text-decoration: none;
	border-radius: var(--border-radius);
	font-size: var(--size-m);
}
.button:hover {
	opacity: 0.7;
}
.main {
	display: flex;
	align-items: center;
	gap: 80px;
}
.main_image {
	width: 500px;
	height: 500px;
	border-radius: var(--border-radius);
}
.main_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}
.main_title {
	font-size: var(--space-b);
	font-weight: var(--weight-title);
	color: var(--color-title);
}
.main_text {
	font-size: var(--size-m);
	font-weight: var(--weight-text);
	color: var(--color-text);
}
.main_button {
	color: var(--color-white);
	background-color: var(--color-primary);
	max-width: 120px;
	max-height: 35px;
	text-align: center;
}
.featured {
	display: flex;
	padding-bottom: 40px;
	border-bottom: 1px solid var(--color-border);
}
.featured_content {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 0 26px;
	gap: var(--size-l);
}
.featured_image {
	width: 64px;
	height: 64px;
	border-radius: var(--border-radius);
}
.featured_title {
	color: var(--color-title);
	font-size: 31px;
	font-weight: var(--weight-title);
}
.featured_text {
	color: var(--color-text);
	font-size: var(--size-m);
	font-weight: var(--weight-title);
}
.actions {
	display: flex;
	justify-content: space-between;
	background: var(--color-primary);
	padding: var(--space-l);
	border-radius: var(--border-radius);
}
.actions_content {
	display: flex;
	flex-direction: column;	
	text-align: left;
	width: 240px;
	gap: var(--space-m);
}
.actions_title {
	font-size: var(--space-l);
	font-weight: var(--weight-title);
	color: var(--color-white);
}
.actions_button {
	background: var(--color-white);
	color: var(--color-title);
	width: 100%;
	text-align: center;
}